@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body {
  
  background: whitesmoke;
  color: black;
}

.link-button {
  background-color: #00b050;;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: ;
}

@media (max-width: 768px) {
  .link-button {
    font-size: .75rem;
  }
  .large-screen-text {
    display: none;
  }
}

@media (min-width: 768px) {
  .link-button {
    font-size: 1rem; /* Adjust font size for larger screens */
  }
  .small-screen-text {
    display: none;
  }
}