@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: whitesmoke;
  color: black;
}

.main-title {
  
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #EF4444;

}

.pizzas-heading, .sides-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #EF4444;
}

.toppings-heading, .sauce-heading, .crust-heading, .order-heading {
  color: #EF4444;
  font-weight: 700;
  margin-right: 0.5rem;
}


.link-button {
  background-color: #00b050;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

ul.leaders {
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: whitesmoke;
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: whitesmoke;
}

.table-with-spacing th,
.table-with-spacing td {
  padding: 10px;
}

@media (max-width: 768px) {
  .link-button {
    font-size: 0.75rem;
  }
  .large-screen-text {
    display: none;
  }
}

@media (min-width: 768px) {
  .link-button {
    font-size: 1rem;
  }
  .small-screen-text {
    display: none;
  }
}
